{% extends 'layout.html' %} {% block content %}




<article class="media content-section">
    <a class="col-md-1 list-group-item list-group-item-action list-group-item-link" href="javascript:history.back()"> Back</a>
    <div class="col-md-11">
        <div class="media-body">
            <h2 class="mr-2 text-primary">{{ product.Item }}</h2>
            <br>
            <h4 class="text-muted">Cost</h4>
            <p class="article-title">INR {{ product.Price}}</p>
        </div>

        <head>

        </head>
        <form method="post" action="{{url_for('products.create_CSV')}}">
            <p id="call" name="call"></p>
            <label for="quantity">Quantity (max:20, min:1):</label>
            <input type="number" id="quantity" name="quantity" min="1" max="20">
            <input name="product_name" id="product_name" value={{ product.Item }}>
            <input name="product_price" id="product_price" value={{ product.Price }}>

            <input type="submit">
        </form>
    </div>
</article>


{% endblock %}